@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url(vinths.css);
:root {
    --vhs-bg0             : #141414;
    --vhs-bg1             : #202125;
    --vhs-bg2             : #2c2e2d;
    --vhs-bg3             : #464847;
    --vhs-bg4             : #545454;
    --vhs-txt1            : #e9f6e1;
    --vhs-txt2            : #d0c6b0;
    --vhs-txt3            : #a49894;
    --vhs-txt4            : #827d7d;

    --vhs-red             : #f72738;
    --vhs-scarlet         : #e44326;
    --vhs-orange          : #f8812f;
    --vhs-yellow          : #ffd340;
    --vhs-lime            : #a7c96b;
    --vhs-green           : #57b069;
    --vhs-cyan            : #4582c7;
    --vhs-blue            : #3c53ce;

    --vhs-light-red       : #f34f6f;
    --vhs-light-scarlet   : #f07a5e;
    --vhs-light-orange    : #f6a280;
    --vhs-light-yellow    : #e8dcad;
    --vhs-light-lime      : #b6da8b;
    --vhs-light-green     : #79d8a9;
    --vhs-light-cyan      : #82c7eb;
    --vhs-light-blue      : #797dde;
}
:root {
  --background  : var(--vhs-bg0);
  --midground   : var(--vhs-bg3);
  --foreground  : var(--vhs-txt1);
  --accent      : var(--vhs-light-blue);
  --tag-tutorial: var(--vhs-light-cyan);
  --tag-godot   : var(--vhs-light-blue);
  --tag-ui      : var(--vhs-lime);
  --tag-2d      : var(--vhs-blue);
  --tag-3d      : var(--vhs-red);
  --tag-art     : var(--vhs-scarlet);
  --tag-code    : var(--vhs-green);
  --tag-game    : var(--vhs-yellow);
  --tag-idea    : var(--vhs-light-yellow);
  --tag-misc    : var(--vhs-txt4);
  font-size     : 20px;
  font-family   : 'Fira Code', monospace;
  height        : 100%;
  font-variant-ligatures: common-ligatures discretionary-ligatures; 
}

body {
  background            : var(--background);
  color                 : var(--foreground);
  padding               : 8px;
}

p {
  color                 : var(--vhs-txt1)
}
.tag {
  width: min-content;
  --main-color    : var(--accent);
  color           : var(--background);
  background-color: var(--main-color);
  border-radius   : 12px;
  padding: 0px 8px;
  font-size: .75em;
  font-weight: 500;
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.tag:nth-child(8n+1 of .tag) {
  --main-color          : var(--vhs-red)
}
.tag:nth-child(8n+2 of .tag) {
  --main-color          : var(--vhs-scarlet)
}
.tag:nth-child(8n+3 of .tag) {
  --main-color          : var(--vhs-orange)
}
.tag:nth-child(8n+4 of .tag) {
  --main-color          : var(--vhs-yellow)
}
.tag:nth-child(8n+5 of .tag) {
  --main-color          : var(--vhs-lime)
}
.tag:nth-child(8n+6 of .tag) {
  --main-color          : var(--vhs-green)
}
.tag:nth-child(8n+7 of .tag) {
  --main-color          : var(--vhs-cyan)
}
.tag:nth-child(8n+8 of .tag) {
  --main-color          : var(--vhs-blue)
}
.tag.siteinfo:nth-child(n) {
  --main-color    : var(--vhs-txt4);
  margin: 0 0 10px 10px;
}

h1 {
  color                 : var(--vhs-txt1);
  font-weight           : 550;
  font-size             : 3em;
  border-bottom-color   : var(--vhs-bg3);
  border-bottom-width   : 2px;
  padding-left          : 4px;
}
h2 {
  color                 : var(--vhs-txt2);
  font-size             : 2.5em;
  font-weight           : 550;
  border-bottom-color   : var(--vhs-bg3);
  border-bottom-width   : 2px;
  border-bottom-style   : dashed;
  padding-left          : 4px;
}
h3 {
  color                 : var(--vhs-txt3);
  font-size             : 2em;
  font-weight           : 560;
  padding-left          : 4px;
}
h4 {
  color                 : var(--vhs-txt3);
  font-size             : 1.66em;
  font-weight           : 580;
  padding-left          : 4px;
}
h5 {
  color                 : var(--vhs-txt3);
  font-size             : 1.33em;
  padding-left          : 4px;
  font-weight           : 595;
}
h6 {
  color                 : var(--vhs-txt3);
  font-size             : 1.25em;
  padding-left          : 4px;
  font-weight           : 595;
}

h2.site-header {
  margin: 10px;
  text-align: center;
}


button {
  --main-color    : #000;
  font-size       : .85em;
  color           : var(--main-color);
  background-color: var(--background);
  font-weight     : 600;
  border-radius   : 4px;
  border-color    : var(--main-color);
  border-width    : 2px;
  margin          : 4px;
  padding         : 4px 8px;
  transition      : all .15s;
  border-style    : solid;
  cursor          : pointer;
}

button:hover {
--main-color            : #000;
  font-weight           : 800;
  background-color      : var(--main-color);
  color                 : var(--background);
  border-color          : var(--main-color);
  transition            : all 0s;
}
button:nth-child(8n+1 of button) {
  --main-color          : var(--vhs-red)
}
button:nth-child(8n+2 of button) {
  --main-color          : var(--vhs-scarlet)
}
button:nth-child(8n+3 of button) {
  --main-color          : var(--vhs-orange)
}
button:nth-child(8n+4 of button) {
  --main-color          : var(--vhs-yellow)
}
button:nth-child(8n+5 of button) {
  --main-color          : var(--vhs-lime)
}
button:nth-child(8n+6 of button) {
  --main-color          : var(--vhs-green)
}
button:nth-child(8n+7 of button) {
  --main-color          : var(--vhs-cyan)
}
button:nth-child(8n+8 of button) {
  --main-color          : var(--vhs-blue)
}
button.primary:nth-child(n) {
  --main-color          : var(--vhs-txt1)
}
button.flat {
  border-width          : 0px;
}
button.flat:only-of-type {
  --main-color          : var(--vhs-light-blue)
}
button:active {
  --main-color          : var(--vhs-bg4);
  scale                 : .9;
  opacity               : 0.9;
  transition            : all .05s;
}
button.circle-icon {
  border-width    : 0px;
  padding-left    : 0px;
  padding-top     : 0px;
  padding-right   : 0px;
  padding-bottom  : 0px;
  margin-bottom   : 4px;
  height          : 29.75px;
  width: 29.75px;
  border-radius   : 100%;
}
button.circle-icon:only-of-type {
  --main-color          : var(--vhs-light-blue)
}
button > a {
  text-decoration: none;;
}
button > a:visited {
  border: none;
  color: inherit;
}
border > a:link {
  border: none;
  color: inherit;
}
a:nth-child(8n+1 of a) > button {
  --main-color          : var(--vhs-red)
}
a:nth-child(8n+2 of a) > button {
  --main-color          : var(--vhs-scarlet)
}
a:nth-child(8n+3 of a) > button {
  --main-color          : var(--vhs-orange)
}
a:nth-child(8n+4 of a) > button {
  --main-color          : var(--vhs-yellow)
}
a:nth-child(8n+5 of a) > button {
  --main-color          : var(--vhs-lime)
}
a:nth-child(8n+6 of a) > button {
  --main-color          : var(--vhs-green)
}
a:nth-child(8n+7 of a) > button {
  --main-color          : var(--vhs-cyan)
}
a:nth-child(8n+8 of a) > button {
  --main-color          : var(--vhs-blue)
}
a.primary:nth-child(n) {
  --main-color          : var(--vhs-txt1)
}
hr {
  border-top            : 2px dashed var(--vhs-bg3);
  border-bottom: none;
}

div {
  background-color: var(--background);
  border                : 2px solid var(--vhs-bg4);
  border-radius         : 8px;
  padding               : 4px;
  margin                : 8px
}
div.dashed {
  border-style          : dashed;
}
div.empty {
  border-width: 0px;
  background-color: transparent;
}
div.empty-no-pad {
  border-width: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
div.main {
  max-width: 1280px;
  border-width: 0px;
  background-color: transparent;
  margin: 0 auto;
}
:link {
  color                 : var(--vhs-light-cyan);
}
:visited {
  color                 : var(--vhs-light-blue);
}
::selection {
  background-color      : var(--vhs-light-blue);
  color                 : var(--vhs-bg0);
}
pre.logo-possum {
  margin     : 0;
  font-size  : .35em;
  display    : inline flow-root;
  font-weight: 900;
  line-height: 1.1em;
}
.material-symbols-outlined {
  font-family            : 'Material Symbols Outlined';
  font-weight            : normal;
  font-style             : normal;
  font-variation-settings: 'FILL' 0, 'wght' 900, 'opsz' 20;
  font-size              : 1em;  /* Preferred icon size */
  display                : inline-block;
  line-height            : 1;
  text-transform         : none;
  letter-spacing         : normal;
  word-wrap              : normal;
  white-space            : nowrap;
  direction              : ltr;
  vertical-align         : baseline;
  transform              : translate(0px, 2px);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 900, 'opsz' 20;
}
button:hover > .material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 900, 'opsz' 20;
}
.marquee {
  position: relative;
}
div.right-shadow {
  border-right: var(--background);
}
div.blog-preview{
  border         : none;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: stretch;
}
div.blog-card {
  flex-grow    : 1;
  flex-shrink  : 2;
  flex-basis   : 400px;
  min-width    : 400px;
  width        : fit-content;
  height       : 320px;
  display      : inline-block;
  text-overflow: ellipsis;
  overflow     : hidden;
  overflow-wrap: break-word;
  transition: 0.15s;
  cursor: pointer;
}
div.blog-card:hover {
  border                : 2px solid var(--vhs-txt4);
  transition: 0s;
}
div.blog-card > h3 {
  margin       : 0px 8px;
  white-space  : nowrap;
  color        : var(--vhs-txt2);
  text-overflow: ellipsis;
  overflow     : hidden;
  overflow-wrap: break-word;
}
div.blog-card:hover > h3 {
  color: var(--vhs-txt1);
}
div.blog-card > p {
  margin       : 0px 12px;
  color        : var(--vhs-txt3);
  text-overflow: ellipsis;
  overflow     : clip;
  overflow-wrap: break-word;
  max-height   : 220px;
  word-break   : break-word;
}
div.blog-card > p.content {
  mask-image: linear-gradient(rgba(0,0,0,1) 90%, rgba(0,0,0,0) 95%);
  height: 100%;
}
div.blog-card:hover > p {
  color: var(--vhs-txt2);
}
div.blog-card:hover > hr {
  border-top            : 2px dashed var(--vhs-bg4);
}
td {
  padding: .5em 0;
  border-bottom: 2px solid var(--vhs-bg2);
}
tr:last-child > td {
  border-bottom: none;
}
p.subtext {
  font-size: .8em;
  color: var(--vhs-txt3);
}
div.flex {
  display: flex;
  flex-wrap: wrap;
}
div.flex-fill > button {
  flex-grow    : 1;
  flex-basis: auto;
  transition: flex-grow .3s ease-out;
}
button.fill-space:hover {
  flex-grow    : 4;
  flex-basis: auto;
  transition: flex-grow .3s ease-out;
}
.collapsible {
  text-align: left;
  width: 100%;
  font-family: 'Fira Code';
  color                 : var(--vhs-txt3);
  font-size             : 2em;
  font-weight           : 560;
  padding-left          : 4px;
  border: none;
  border-radius: 4px;
  transition: all 0.15s;
  margin-bottom: 4px;
}
.collapsible:active {
  scale: 1;
  opacity: .8;
  transition            : all .05s;
}
.collapsible:hover {
  font-weight: 550;
  background-color: transparent;
  color: var(--vhs-txt2);
  transition: all 0s;
}
.collapsible > .chevron {
  transform: rotate(0deg) translateY(6px);
  transition: all 0.3s ease-out;
}
.collapsible.active > .chevron {
  transform: rotate(90deg) translateX(6px);
  transition: all 0.25s ease-out;
}
.collapsible-content {
  display: block;
  margin-top: 4px;
  margin-left: 32px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.tag-filter {
  padding: 4px 2px;
  flex-basis: calc(fit-content + 27px);
}
.tag-filter.filter-active {
  font-weight           : 800;
  background-color      : var(--main-color);
  color                 : var(--background);
  border-color          : var(--main-color);
}
button:hover > .reload-wheel {
  animation-name: reload-rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes reload-rotate {
  from {rotation: 0deg;}
  to {rotation: 90deg;}
}
