/*
https://lospec.com/palette-list/vint-hs
made by _michdev
*/
:root {
    --vhs-bg0             : #141414;
    --vhs-bg1             : #202125;
    --vhs-bg2             : #2c2e2d;
    --vhs-bg3             : #464847;
    --vhs-bg4             : #545454;
    --vhs-txt1            : #e9f6e1;
    --vhs-txt2            : #d0c6b0;
    --vhs-txt3            : #a49894;
    --vhs-txt4            : #827d7d;

    --vhs-red             : #f72738;
    --vhs-scarlet         : #e44326;
    --vhs-orange          : #f8812f;
    --vhs-yellow          : #ffd340;
    --vhs-lime            : #a7c96b;
    --vhs-green           : #57b069;
    --vhs-cyan            : #4582c7;
    --vhs-blue            : #3c53ce;

    --vhs-light-red       : #f34f6f;
    --vhs-light-scarlet   : #f07a5e;
    --vhs-light-orange    : #f6a280;
    --vhs-light-yellow    : #e8dcad;
    --vhs-light-lime      : #b6da8b;
    --vhs-light-green     : #79d8a9;
    --vhs-light-cyan      : #82c7eb;
    --vhs-light-blue      : #797dde;
}